RewriteEngine On

# Allow Apache to serve actual files and folders directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Pass the query string and preserve execution rules
RewriteRule ^ index.php [QSA,L]